* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cardAction {
  display: flex;
  justify-content: center;
}

.footerLink {
  text-decoration:  none;
  padding-left: 3px;
  color: white;
  font-size: 14px;
}